#title {
  margin-top: 30px;
}

fieldset {
  border: none;
  border-top: 2px solid #ccc;
  margin-bottom: 20px;
}

legend {
  border: none;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  padding: 0 8px 0 8px;
  border-radius: 3px;
}

label,
legend {
  font-weight: bold;
}

input {
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 3px;
  height: 20px;
}

select,
textarea {
  border: 2px solid #ccc;
  border-radius: 3px;
}

input:focus {
  border: none;
  background-color: #f4b22430;
}

form:invalid input:invalid {
  border-bottom: 2px solid red;
  border-radius: 3px;
}

label:has(+ input[required])::after {
  content: " *";
  color: red;
}

button[type="submit"],
button[type="reset"] {
  background-color: #f4b324;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 15px;
  cursor: pointer;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
  background-color: #e9c6c8;
}
