nav a {
  color: #f6e7d8;
  text-decoration: none;
  margin: 0 15px 0 0;
  font-weight: bold;
  background-color: #f4b324;
  border-radius: 5px;
  padding: 5px 8px 5px 8px;
  will-change: color;
  transition: color 500ms;
}

nav a:hover {
  color: #e9c6c8;
}

a {
  color: #333;
  font-weight: 500;
}

hr {
  border: 1px double #e3e3e5;
  border-radius: 50px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9fafc;
  color: #333;
}

h2 {
  color: #f4b324;
  font-family: monospace;
  will-change: color;
  transition: color 1000ms;
}

h2:hover {
  filter: drop-shadow(0 0 6px #f4b324);
}

section.bg {
  background-color: #f4b22430;
  padding: 3px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #d89b20;
}

a[href^="mailto:"]::before {
  content: "✉ ";
  font-size: 1.1em;
}

table.episodes {
  border-collapse: collapse;
  width: 50%;
}

table.episodes th {
  text-align: left;
  padding: 8px;
  background-color: #e9c6c8;
}

table.episodes td {
  padding: 8px;
  font-size: 15px;
}

table.episodes tr:nth-child(odd) {
  background-color: #f2e6e6;
}

table.episodes th:nth-child(odd) {
  border-top-left-radius: 5px;
}
table.episodes th:nth-child(even) {
  border-top-right-radius: 5px;
}

table.episodes tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

table.episodes tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
