nav a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

a {
  color: #333;
  font-weight: 500;
}

body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  background-color: #f9fafc;
  color: #333;
}

h2 {
  color: #f4b324;
  font-family: monospace;
}

h2.glow {
  will-change: filter;
  transition: filter 1000ms;
}

h2.glow:hover {
  filter: hue-rotate(-55deg);
}

section.bg {
  background-color: #f4b22430;
}

legend {
  font-weight: bold;
}

label {
  font-weight: bold;
}
