.podcast-grid {
  display: grid;
  grid-template-columns: 38% 37% 25%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "header header header"
    "nav    nav    nav"
    "main   main   sidebar"
    "footer footer footer";
  gap: 0px;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
  margin-right: 10px;
}

.sidebar-pod {
  grid-area: sidebar;
  margin-top: 30px;
  margin-left: 3px;
}

.footer {
  grid-area: footer;
}

article {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "info     image"
    "episodes episodes";
  gap: 0px 35px;
  align-items: flex-start;
  margin-top: 10px;
}

.podcast-info {
  grid-area: info;
}

.podcast-image {
  grid-area: image;
  margin-top: 30px;
}

.podcast-image img {
  max-width: 250px;
  max-height: 250px;
}

.episodes-section {
  grid-area: episodes;
  margin-bottom: 30px;
}

#joe-rogan .episodes-section {
  grid-area: episodes;
  margin-top: -20px;
  margin-bottom: 30px;
}

/* ---------- form ----------- */

header {
  display: flex;
  flex-direction: column;
}

/* main */
.content-layout {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  margin-bottom: 30px;
}

/* left form */
.form {
  display: flex;
  flex-direction: column;
  flex: 3;
}

/* right */
.sidebar-form {
  flex: 1;
  margin-top: 30px;
  margin-left: -3px;
}
